@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');

:root{
    font-family: 'Nanum Gothic Coding', cursive;
    font-size: 14px;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.wrap{
    width: 100%;
    margin: 0 auto;
    
}
.header .container{
    margin-top: 100px;
}

/* logo,tit */
h1 {
    font-family: 'Hurricane';
    font-size: 64px;
    text-align: center;
    margin-bottom: -15px;
    font-weight: 900;
}
.header .container h1{
    color: #6667AB;
}

h2 {
    font-size: 20px;
    text-align: center;
}

h3 {
    display: none;
}

/* nav */
.nav{
    padding: 35px 200px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}
.nav ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.nav ul li{
    font-size: 20px;
    font-weight: 900;
}
.nav li a:hover{
    border-bottom: #6667AB;
    color: #6667AB;
    font-weight: 900;
}

/* 슬라이더 */
.slider{
    width: 1200px;
    margin: 0 auto;
    overflow:hidden;
}
.slider .container{
    margin-top: 60px;
}

.slider .row{
    width: 1200px;
    height: 800px;
    overflow: hidden;
    position: relative;
}
/* 슬라이더 크기지정 */
.slider .slide{
    position: absolute;
    left: 0%;
    /* top: 0; */
    width: 100%;
    transition: 0.5s;
    z-index: -1000;
}
.slider .slide02{
    left: 1200px;
}
.slider .slide03{
    left: 2400px;
}

.footer{
    background-color: #6667AB;
    color: #fff;
}
.footer .container{
    margin-top: 60px;
}
.address{
    padding-bottom: 40px;
    text-align: center;
}